body{
    background-color: black;
}

.banner{
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.3);
  height: 6vh;
  z-index: 10;
}
.left-banner, .right-banner{
  display: flex;
  width: 50%;
  align-items: center;
}
.banner-logo{
  padding-left: 5%;
  width: clamp(1.5in, 14vw, 20vw);
}
@media screen and (max-width: 700px) {
  .banner-logo{
    display: none; /* Hide the div when screen width is less than 700px */
  }
}

.side-tab-link{
    position: fixed;
    right: 1%;
    width: clamp(20px, 2vw, 30vw);
    height: clamp(20px, 2vw, 30vw);
}
.hero {
  position:absolute;
  top: -6vh;
  left:0;
  width:100%;
  height:100%;
  z-index: -10;
}
.video-container{
  padding:42.62% 0 0 0;
  position:relative;
}
.transparent-hero{
  background: transparent;
  height: 80vh;
}

.logo-div{
  height: 30%;
  background-color: black;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 5%;
}
.logo{
  width: 35vh;
}

.section{
  display: flex;
  flex-direction: row;
  background-color: black;
  margin-bottom: 10%;
}
.section-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}
.section-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}
@media screen and (max-width: 1000px) {
  .section{
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
  }
  .section-left{
    width: 95vw;
  }
}

.slogan{
  padding-top: 2%;
  color: white;
  font-family: 'Times New Roman', Times, serif;

}
.heading{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 2.5%;
    padding-top: 2.5%;
    font-size: 200%;
}
@media screen and (max-width: 700px) {
  .heading{
    display: none;
}
}
.passage{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(18px, 1.1vw, 130vw);
    width: 70%;
    margin-left: 2%;
    letter-spacing: 1px;
}
.section-image{
  margin-top: 3%;
  width: clamp(2in, 70%, 70vw);
}

.black-back{
  background-color: black;
  height: 5px;
}
.divider
{
	position: relative;
	height: 1px;
  margin: auto;
}
.div-transparent:before
{
	content: "";
	position: absolute;
  background-color: black;
	top: 0;
	width: 100%;
	height: 1px;
	background-image: linear-gradient(to right, black, rgb(231, 234, 241), black);
}
.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: black;
	border-bottom: 1px solid rgb(231, 234, 241);
	border-right: 1px solid rgb(231, 234, 241);
}

.section2{
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: space-evenly;
  flex-direction: row;
}
.vert-divider{
  background-color: white;
  width: 2px;
	background-image: linear-gradient(to bottom, black, rgb(231, 234, 241), black);
}
.img-colection{
  opacity: 0.3;
  border-radius: 5%;
  transition: all 1s;
  box-shadow: black;
  width: 27vw;
}
@media screen and (max-width: 1000px) {
  .vert-divider{
    display: none;
  }
}


.off-screen-down{
  position: relative;
  margin-top: 30%;
}
.slide-in-up{
  position: relative;
  margin-top: 0%;
  transition: all 1s;
}
.slide-in-first{
  position: relative;
  margin-top: 0%;
  transition: all 0.5s;
}
.img-colection:hover{
  opacity: 1;
  transform: scale(1.1);
  transition: all 1s;
}
.compressed{
  width: 0%;
}
.expanded{
  width: 100%;
  transition: all 3s;
}
.off-screen{
  position: relative;
  margin-left: 30%;
  opacity: 0;
}
.slide-in{
  position: relative;
  margin-left: 0%;
  opacity: 1;
  transition: all 1s;
}
.hidden {
  opacity: 0;
}
.show{
  opacity: 1;
  transition: all 2s;
}


#offcanvas{
    background-color: black;
    color: white;
}
#close-button{
    color: white;
}
.offcanvas-container {
  display: flex;
  flex-direction: column;
  width: clamp(320px, 50vw ,100%);
}
.offcanvas-header {
  padding: 5%;
}
.offcanvas-body{
  text-align: center;
}
.drop-header{
  margin-bottom: 5%;
  transition: box-shadow 0.3s ease;
  border-radius: 5px;
}.drop-header:hover{
  box-shadow: 0 0 10px 4px white;
}
.droplink{
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}



.foot{
  padding-left: 1%;
  padding-right: 1%;
  height: 9vh;
  margin-top: 1%;
  display: flex;
}
.right-footer,.left-footer {
  flex: 1;
  padding: 1%;
  font-size: clamp(15px, 1vw, 80px);
  color: white;
}
.right-footer{
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}
.rightlink{
  color: white;
}
hr {
  width: 100%;
  height: 1px; 
  border: none;
  background-image: linear-gradient(to right, black, rgb(231, 234, 241), black);
  background-color: white;
  opacity: 1;
}



.contact-us{
  margin: 10%;
  margin-top: 0%;
  color: white;
}
.email-div{
  width: clamp(2in, 25vw, 40vw);
}
#floatingTextarea2{
  width: clamp(4in, 50vw, 40vw);
  height: 15vh;
}
@media screen and (max-width: 700px) {
  .submit-message{
    margin-bottom: 30vh;
  }
}
#captchaAlert{
  display: none;
}


.gallery-img  {
  width: 70%;
  transition: all 0.5s;
  border: 2px solid white;
  border-radius: 5%;
  z-index: 0;
}
.gallery-img:hover  {
  scale: 2.5;
  transition: all 1s;
}
.gallery-element{
  text-align: center;
  margin-bottom: 3vw;
}
.products-wrapper {
  width: 100%;
  height: 100%;
}
.product-table {
  margin: auto;
}
.my-col {
  display: flex;
  justify-content: center;
}
.product-desc {
  font-size: clamp(0.5rem, 1vw, 600px);
  color: white;
  text-align: center;
  margin-top: 1vw;
}
.element-fly-in {
  opacity: 0;
  transform: translateY(50px);
  animation: flyIn 0.5s ease forwards var(--animation-delay, 1s);
}
/* Define keyframes for the fly-in animation */
@keyframes flyIn {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
