{% extends "layout.html" %}

{% block body %}
<div class="logo-div">
    <img class="logo" src="/static/media/logo-anim.gif">
    <h1 class="slogan">Contact Us</h1>
</div>

<div class="contact-us">
    <form action="https://formspree.io/f/xbjvvwvb" method="POST">
        <label>Your Email - <strong>Please ensure it is correct</strong></label>
        <div class="input-group mb-3 email-div">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            <input id="email" name="email" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
        </div>
        <label>Your Message</label>
        <div class="form-floating">
            <textarea name="message" class="form-control" placeholder="Leave a message here" id="floatingTextarea2" required></textarea>
            <label for="floatingTextarea2">Leave a message here...</label>
        </div>
        <br>    
        <input type="submit" class="btn btn-light submit-message"value="Submit">
    </form>
</div>
{% endblock %}