<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Get a quote from one of the best web app development and software solution experts">

        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

        <link href="/static/indexstyles.css" rel="stylesheet">
        <script src="/static/script.js"></script>
        
        <title>StarDrake Solutions</title>

    </head>

    <body>
        <div class="banner">
            <img src="static/shard.jpg" alt="Link Image" class="side-tab-link" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offExample">    
        </div>
        <div class="offcanvas offcanvas-end side-tab" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header">
            <h1 class="offcanvas-title" id="offcanvasLabel">Offcanvas</h1>
            <button type="button" id="close-button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="offcanvas-container">
                <!--
                <div class="dropdown mt-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                -->
                <nav class="dropdown">
                    <h2 class="drop-header toggle">Drop Down Menu</h2>
                    <ul class="dropdown-content">
                        <li><a href="#chapter1">Chapter 01</a></li>
                        <li><a href="#chapter2">Chapter 02</a></li>
                        <li><a href="#chapter3">Chapter 03</a></li>
                    </ul>
                </nav>
                <nav class="dropdown">
                    <h2 class="drop-header toggle">Drop Down Menu</h2>
                    <ul class="dropdown-content">
                        <li><a href="#chapter1">Chapter 01</a></li>
                        <li><a href="#chapter2">Chapter 02</a></li>
                        <li><a href="#chapter3">Chapter 03</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <iframe class="hero" src="https://player.vimeo.com/video/887977893?autoplay=1&amp;loop=1&amp;quality_selector=1&amp;player_id=0&amp;muted=1&amp;controls=0" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" title="Hero"></iframe>
        <script src="https://player.vimeo.com/api/player.js"></script>
        
        <div class="transparent-hero"></div>

        <div class="section">
            <div class="section-left">
                <p class= "heading hidden">Perfection - Redefined</p>
                <p class="passage hidden">
                    At StarDrake, we specialize in crafting bespoke digital solutions that redefine online experiences. Our team of skilled developers and designers combine expertise with innovation, 
                    ensuring each website and application we create is not just functional, but an immersive journey for your users. 
                    From responsive websites to cutting-edge web applications, we're dedicated to elevating your digital footprint and empowering your online presence.
                    where innovation and expertise converge to build the digital future. 
                    We are passionate about crafting pixel-perfect websites and robust web applications that resonate with your audience. Our team's dedication to delivering tailor-made solutions, coupled with our commitment to staying ahead of technological advancements, 
                    ensures that your project is not just functional but a standout in today's competitive digital landscape. 
                    Let's collaborate and transform your ideas into remarkable digital realities.
                </p>
            </div>
            <div class="section-right">
                <img class="section-image" src="/static/dev1.jpg">
            </div>
            </div>
        <hr>
        <div class="section">
        </div>
    </body>
</html>
