{% extends "layout.html" %}

{% block body %}
<div class="video-container">
    <iframe src="https://player.vimeo.com/video/889462993?autoplay=1&amp;loop=1&amp;muted=1&amp;controls=0" class="hero" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen muted></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<div class="logo-div">
    <img class="logo" src="/static/media/logo-anim.gif">
    <h1 class="slogan">Your Software Solutions - Sorted</h1>
</div>
<div class="section">
    <div class="section-left">
        <p class= "heading hidden">Perfection - Redefined</p>
        <p class="passage hidden">
            At StarDrake, we specialize in crafting bespoke digital solutions that redefine online experiences. Our team of skilled developers and designers combine expertise with innovation, 
            ensuring each website and application we create is not just functional, but an immersive journey for your users. 
            From responsive websites to cutting-edge web applications, we're dedicated to elevating your digital footprint and empowering your online presence.
            where innovation and expertise converge to build the digital future. 
            We are passionate about crafting pixel-perfect websites and robust web applications that resonate with your audience. Our team's dedication to delivering tailor-made solutions, coupled with our commitment to staying ahead of technological advancements, 
            ensures that your project is not just functional but a standout in today's competitive digital landscape. 
            Let's collaborate and transform your ideas into remarkable digital realities.
        </p>
    </div>
    <div class="section-right">
        <img class="off-screen section-image" src="/static/media/dev1.jpg">
    </div>
</div>
<div class="black-back">
    <div class="divider div-transparent div-arrow-down compressed"></div>
</div>

<div class="section section2">
    <a class="img-link" href="/ourwork">
        <img src="/static/media/our-work.webp" class="img-colection">
    </a>
    <div class="vert-divider"></div>
    <a class="img-link" href="/contactus">
        <img src="/static/media/contact-us.png" class="img-colection">
    </a>
    <div class="vert-divider"></div>
    <a class="img-link" href="/">
        <img src="/static/media/stay-in-touch.png" class="img-colection">
    </a>
</div>
{% endblock %}

