{% extends "layout.html" %}

{% block body %}
<div class="logo-div">
    <img class="logo" src="/static/media/logo-anim.gif">
    <h1 class="slogan">Our Work</h1>
</div>

<div class="gallery">
    <div class="gallery-element">
        <a>
            <img class="gallery-img" src="/static/media/ourwork//watch.png">
        </a>
    </div>
    <div class="gallery-element">
        <a>
            <img class="gallery-img" src="/static/media/ourwork/maryelle.png">
        </a>
    </div>
    <div class="gallery-element">
        <a>
            <img class="gallery-img" src="/static/media/ourwork/maryelle-shop.png">
        </a>
    </div>
    <div class="gallery-element">
        <a>
            <img class="gallery-img" src="/static/media/ourwork/wv.png">
        </a>
    </div>
</div>
{% endblock %}