{% extends "layout.html" %}

{% block body %}
<div class="logo-div">
    <img class="logo" src="/static/media/logo-anim.gif">
    <h1 class="slogan">Some of Our Work</h1>
</div>

<div class="products-wrapper">
    <div class="container product-table">
        <div class="row">
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in" style="--animation-delay: 0.8s;">
                    <img class="gallery-img" src="/static/media/ourwork/watch.png">
                    <figcaption class="product-desc">Resolve</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in" style="--animation-delay: 0.4s;">
                    <img class="gallery-img" src="/static/media/ourwork/maryelle-shop.png">
                    <figcaption class="product-desc">Art Shop - Example Page</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in" style="--animation-delay: 0.2s;">
                    <img class="gallery-img" src="/static/media/ourwork/maryelle2.png">
                    <figcaption class="product-desc">Art Site Design</figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/shop.png">
                    <figcaption class="product-desc">Ecom Store</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/wv.png">
                    <figcaption class="product-desc">World Versus</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/maryelle.png">
                    <figcaption class="product-desc">Art Site Passage</figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/wv3.png">
                    <figcaption class="product-desc">Debate Pages</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/wv4.png">
                    <figcaption class="product-desc">New Debate</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/wv2.png">
                    <figcaption class="product-desc">World Versus - Example Page</figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/wv5.png">
                    <figcaption class="product-desc">Debate Search Filter</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/cafe.png">
                    <figcaption class="product-desc">Cafe</figcaption>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4 my-col">
                <figure class="gallery-element element-fly-in">
                    <img class="gallery-img" src="/static/media/ourwork/cafe2.png">
                    <figcaption class="product-desc">Cafe - Intro</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock %}