{% extends "layout.html" %}

{% block body %}
<div class="logo-div">
    <img class="logo" src="/static/media/logo-anim.gif">
    <h1 class="slogan">Our Work</h1>
</div>

<div class="products-wrapper">
    <div class="container product-table">
        <div class="row">
            <div class="col my-col">
                <figure class="gallery-element">
                    <img class="gallery-img" src="/static/media/ourwork/watch.png">
                    <figcaption class="product-desc">Resolve</figcaption>
                </figure>
            </div>
            <div class="col my-col">
                <figure class="gallery-element">
                    <img class="gallery-img" src="/static/media/ourwork/maryelle2.png">
                    <figcaption class="product-desc">Art Site</figcaption>
                </figure>
            </div>
            <div class="col my-col">
                <figure class="gallery-element">
                    <img class="gallery-img" src="/static/media/ourwork/wv.png">
                    <figcaption class="product-desc">World Versus - Debate</figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col my-col">
                <figure class="gallery-element">
                    <img class="gallery-img" src="/static/media/ourwork/maryelle.png">
                    <figcaption class="product-desc">Art Site Passage</figcaption>
                </figure>
            </div>
            <div class="col my-col">
                <figure class="gallery-element">
                    <img class="gallery-img" src="/static/media/ourwork/wv2.png">
                    <figcaption class="product-desc">World Versus - Example Page</figcaption>
                </figure>
            </div>
            <div class="col my-col">
                <figure class="gallery-element">
                    <img class="gallery-img" src="/static/media/ourwork/maryelle-shop.png">
                    <figcaption class="product-desc">Art Shop - Example Page</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>

{% endblock %}